<template lang="pug">
    b-row.align-items-center.justify-content-center
        b-form
            b-form-input.animated.pulse(
                placeholder="Enter your nickname"
                required
                id="nickname"
                type="text"
            )


</template>

<style lang="scss" scoped>

#nickname {
    border-radius: 20px;
    opacity: 0.7;
    transition-duration: 1000;
    &:hover{
        opacity: 1;
    }
}

</style>

