<template lang="pug">
    b-row
        b-col.mt-auto( cols='12' )
            h1
                | Hello, MAN
                br
                | This is start page of Libra App
        b-col.mb-auto.mt-3( cols='12' )
            router-link.animated.fadeIn.delay-1s( to='/new')
                figure.figure
                    ion-icon.figure-img(name='person-add', size="large")
                    
                    figcaption.figure-caption(style="float: right") Add new object
                

        
</template>


<script>

export default {

}

</script>

<style lang="scss" scoped>

$color_1: #f3f9fb;
$border-radius: 30px;

.figure {
    color: #D10F38;
    background-color: #D10F38;
    opacity: 0.5;
    border-radius: $border-radius;
    padding: 5px 20px;
}
.figure:hover {
    opacity: 1;
}
.figure-img {
    background-color: $color_1;
    padding: 7px;
    border-radius: $border-radius;
    margin-bottom: auto;
    margin-top: auto;
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 10px;
}
figcaption {
    color: $color_1;
    font-size: x-large;
}


</style>
